aclocal.m4
ar-lib
autom4te.cache
bak
build
cbx
.cdtproject
compile
config.guess
config.log
config.status
config.sub
configure
configure.patch
depcomp
.dirstamp
install-sh
lib
liblog4cxx.pc
libtool
linux
log4cxx.cbx
log4cxx.cbx.local
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
msvc
socket.lcf
target
velocity.log
xcode
*.tar.gz

src/**/*.o
src/**/*.lo
**/*.swp

**/.deps

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

src/main/include/log4cxx/log4cxx.h
src/main/include/log4cxx/private/log4cxx_private.h

src/main/cpp/.libs
src/main/cpp/*.a
src/main/cpp/*.la

src/test/cpp/.libs/
src/test/cpp/testsuite
